.section {
  margin-bottom: 30px; }

.round {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 4px;
  line-height: 1.5; }

.x-round {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 2px;
  line-height: 1; }

.extra-padding {
  padding: 20px 20px 0; }

.some-padding {
  padding: 0 15px 0 0; }

.navbar {
  margin-bottom: 0; }

.no-padding {
  padding: 0; }

.no-bot-margin {
  margin-bottom: 0; }

body {
  margin-top: 50px;
  background-color: #CBCBCB; }

.list-group-item {
  padding: 5px; }

.panel {
  border-radius: 10px; }
  .panel .panel-heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

@media (min-width: 0) {
  #google_map {
    height: calc((100vh - 50px)/2); }
 }

@media (min-width: 768px) {
  .container {
    width: 750px; }
 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 970px; }
 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #google_map {
    height: calc(100vh - 50px); }

  .container {
    width: 1170px; }
 }
