.round {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 5px;
  line-height: 1.5; }

.x-round {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 3px;
  line-height: 1; }

.panel {
  border-radius: 10px; }
  .panel .panel-heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }

label {
  font-size: 16px;
  font-weight: 500;
  color: #4F4F4F; }

.panel-title {
  font-weight: 500;
  font-size: 20px; }

.btn-info {
  background-color: #DEDEDE;
  color: #4F4F4F; }

.selected-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da; }

.panel-default {
  border-color: #A6A6A6; }
  .panel-default .panel-heading {
    background-color: #DEDEDE;
    border-color: #A6A6A6; }

body {
  font-family: Ubuntu, Arial;
  margin-top: 50px;
  background-color: #B7B7B7; }

.section {
  margin-bottom: 30px; }

.extra-padding {
  padding: 15px 0 0; }

.some-padding {
  padding: 0 15px 0 0; }

.navbar {
  margin-bottom: 0; }

.no-padding {
  padding: 0; }

.no-bot-margin {
  margin-bottom: 0; }

.list-group-item {
  padding: 5px; }

.inline-block {
  display: inline-block; }

.vert-center {
  vertical-align: middle; }

@media (min-width: 0) {
  #google_map {
    height: calc((100vh - 50px)/2); }
 }

/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #google_map {
    height: calc(100vh - 50px); }
 }
