$screen-xs-min : 0;
$screen-sm-min : 768px;
$screen-md-min : 992px;
$screen-lg-min : 1200px;


@media (min-width: $screen-xs-min) {
	#google_map {
		height: calc((100vh - 50px)/2);
	}
}

@media (min-width: $screen-sm-min) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
	#google_map {
		height: calc(100vh - 50px);
	}
}