.form-group .form-inline .select-fixed-width {
		width: 80%;
}

.section {
	margin-bottom: 30px;
}

.round {
	border-radius: 50%;
	width: 30px;
	height: 30px;
	padding:4px;
	line-height: 1.5;
}

.x-round {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	padding: 2px;
	line-height: 1;
}

.extra-padding {
	padding: 20px 20px;
}

.some-padding {
	padding: 0 15px 0 0;
}

.navbar {
	margin-bottom: 0;
}

#google_map {
	height: 100vh;
	margin-top: -50;
}

.no-padding {
	padding: 0;
}

body {
	background-color: #CBCBCB;
}

.list-group-item {
	padding: 5px;
}