@import "buttons";
@import "theme-changes";

body {
	font-family: Ubuntu, Arial;
	margin-top: 50px;
	background-color: #B7B7B7;
}

.section {
	margin-bottom: 30px;
}

.extra-padding {
	padding: 15px 0 0;
}

.some-padding {
	padding: 0 15px 0 0;
}

.navbar {
	margin-bottom: 0;
}

.no-padding {
	padding: 0;
}

.no-bot-margin {
	margin-bottom: 0;
}

.list-group-item {
	padding: 5px;
}

.inline-block {
	display: inline-block;
}

.vert-center {
	vertical-align: middle;
}



@import "media-queries.scss";