.panel {
	border-radius: 10px;
	.panel-heading {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

label {
	font-size: 16px;
	font-weight: 500;
	color: #4F4F4F;
}

.panel-title {
	font-weight: 500;
	font-size: 20px;
}

.btn-info {
	background-color: #DEDEDE;
	color: #4F4F4F;
}

.selected-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}


.panel-default {
	border-color: #A6A6A6;
	.panel-heading {
		background-color: #DEDEDE;
		border-color: #A6A6A6;
	}
}